[submodule "DevDependencies/mapbox-directions-swift"]
	path = DevDependencies/mapbox-directions-swift
	url = https://github.com/flitsmeister/mapbox-directions-swift
[submodule "DevDependencies/maplibre-navigation-ios"]
	path = DevDependencies/maplibre-navigation-ios
	url = https://github.com/maplibre/maplibre-navigation-ios
[submodule "DevDependencies/ferrostar"]
	path = DevDependencies/ferrostar
	url = https://github.com/michaelkirk/ferrostar
[submodule "DevDependencies/maplibre-swiftui-dsl"]
	path = DevDependencies/swiftui-dsl
	url = https://github.com/maplibre/swiftui-dsl
