<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>earth.maps.maps-earth.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mapsearth</string>
			</array>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>14.4</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackgroundColor</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
